/*font-family: 'Roboto', sans-serif;*/

body {
    background-image: url("../assets/image/gallaxy.jpg");
    width: 100%;
    background-size: cover;
    max-height: auto;
}

.container {
    width : 65%;
    margin: 0 auto;
    text-align: center;
    background-color: #65737e;
    padding: 4%;
}

.container> img {
    max-width: 250px;
    padding: 4px;
}

#elements {
    padding: 2%;
}

#elements .element a {
    font-family: 'Roboto,sans-serif';
    display: inline-block;
    padding: 20px;
    position: absolute;
    top:30%;
    color: white;
    text-decoration: none;
    font-size: 16px;
}

